/* COMMON */
body{
  color : #333;/*기본 글자 색상*/
  font-size: 16px;/*시작 글자 크기*/
  font-weight: 400;/*글자 두께*/
  line-height: 1.4;/*글자 행간 길이*/
  font-family: "Nanum Gothic", sans-serif;/*나눔 고딕 폰트 적용하기*/
  height: 6000px;/*헤더 고정 확인을 위한 높이 설정*/
}
img{
  display: block;/* 인라인 요소인 img를 블록요소로 사용, 인라인 요소는 기본적으로 baseline이 있음 */
}
a {/*프로젝트 내 a 태그의 텍스트 데코레이션 사용하지 않게 설정*/
  text-decoration: none;
}

.inner {/*프로젝트 내 inner 클래스를 갖는 요소의 속성 설정*/
  width: 1100px;
  margin: 0 auto; /*외부여백 auto 좌우 가운데 정렬*/
  position: relative;/*요소 자신을 기준(원래 자기 위치를 기준으로 얼마만큼 이동하는지 표현) */
}
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover {
  background-color: #333;
  color: white;
}
.btn.btn--reverse {
  background-color: #333;
  color: white;
}
.btn.btn--reverse:hover {
  border-color: #592B18;
  color: #333;
}
.btn.btn--brown{
  background-color: transparent;
  color: #592B18;
}
.btn.btn--brown:hover{
  background-color: #592B18;
  color: #fff;
}
.btn.btn--gold{
  color: #D9AA84;
  border-color: #D9AA84;
}
.btn.btn--gold:hover{
  color: #fff;
  background-color: #D9AA84;
}
.btn.btn--white{
  color: white;
  border-color: white;
}
.btn.btn--white:hover{
  color: #333;
  background-color: white;
}
.back-to-position{
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-right {
  transform: translateX(-150px); /*왼쪽으로 이동*/
}
.back-to-position.to-left {
  transform: translateX(150px); /*오른쪽에서 왼쪽으로 이동*/  
}
.show .back-to-position{
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-0 {
  transition-delay: 0s;
}
.show .back-to-position.delay-1 {
  transition-delay: 0.3s;
}
.show .back-to-position.delay-2 {
  transition-delay: 0.6s;
}
.show .back-to-position.delay-3 {
  transition-delay: 0.9s;
}

/* COMMON */


/* HEADER */
header{
  /* background-color: royalblue; */
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  /*position: relative;*/ /*배지 영역을 위한 포지션 설정*/
  
  /*포지션을 fixed 또는 absolute로 설정하면 가로 너비를 최소한으로 사용하게 되기 때문에
  이를 방지하기 위해 가로 너비 뷰포트의 100%을 사용하게 설정*/
  width: 100%;
  position: fixed;/*뷰포트 기준으로 포지션 설정*/
  top: 0;
  z-index: 9;
}
header > .inner{ /*header 요소의 자식 요소 중 inner 클래스를 갖는 요소의 높이 설정*/
  /* width: 1100px; */
  height: 120px;/*inner에 높이 값 설정*/
  /*margin: 0 auto;*/ /*외부여백 auto 좌우 가운데 정렬*/
  /* background-color: orange; */
  /*position:relative;*/ /*요소 자신을 기준(원래 자기 위치를 기준으로 얼마만큼 이동하는지 표현) */
}
header .logo{
  height: 75px;/*로고 이미지 크기와 같게 설정. 브라우저에게 높이값을 알려줘서 자동으로 가운데 정렬되게 설정*/
  width: 75px;/*브라우저에게 너비값을 알려줘서 자동으로 가운데 정렬되게 설정*/
  position: absolute;/*위치 상 부모 요소 기준 (위치상 부모 확인) 위치상 부모는 inner*/
  top: 0;
  bottom: 0;
  left: 0;/*inner 기준으로 왼쪽에 위치하도록 설정*/
  margin: auto;/*외부 여백을 브라우저가 자동으로 계산*/
  /* display: none; */
}

header .sub-menu {
  display: flex;
  position: absolute;
  top: 10px;
  right: 0;
}
header .sub-menu ul.menu{ /*띄어쓰기룰 통해서 후손 선택자 선택*/
  display: flex; /*수직으로 쌓여 있는 요소를 수평으로 배치*/
  font-family: Arial, Helvetica, sans-serif;
} 
header .sub-menu ul.menu li{ 
  position: relative;
}

header .sub-menu ul.menu li::before{ 
  content: "";/* content에 값이 없으면 before 가상 요소는 동작하지 않는다 */
  display: block;
  width: 1px;
  height: 12px;
  /* background-color: #000; */
  background-color: #e5e5e5;
  position: absolute;/* absolute는 인라인 요소를 display: block으로 만들기 때문에 display를 명시하지 않아도 됨*/
  top:0;
  bottom: 0;
  margin: auto 0;
}
header .sub-menu ul.menu li:first-child::before{ 
  display: none;
} 
header .sub-menu ul.menu li a{ 
  font-size: 12px;
  padding: 11px 16px;
  display: block; /*인라인 요소인 a를 block으로 변경*/
  color: #656565;
}
header .sub-menu ul.menu li a:hover{ 
  color:#000;

}
header .sub-menu .search {
  /* background-color: red; */
  height: 34px;
  position: relative;
} 
header .sub-menu .search input{
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  transition: width 0.4s;
  font-size: 12px;
}
header .sub-menu .search input:focus{
  width: 190px;
  border-color: #690;
}
header .sub-menu .search .material-icons{
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: 0.4s;
}

header .sub-menu .search.focused .material-icons{
  opacity: 0;
}

header .main-menu{
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
header .main-menu .item{

}
header .main-menu .item .item__name{
  padding: 10px 20px 34px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

header .main-menu .item:hover .item__name{
  background-color: #2c2a29;
  color: #690;
  border-radius: 6px 6px 0 0;
}
header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}
header .main-menu .item:hover .item__contents {
  display: block;
}

header .main-menu .item .item__contents .contents__menu{
  background-color:#2c2a29;
  /* height: 200px; */
} 

header .main-menu .item .item__contents .contents__menu > ul{
  display: flex;
  padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li{
  width: 220px;
}

header .main-menu .item .item__contents .contents__menu > ul > li h4{
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: white;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul{
  /* 사용하지 않으나 구분 위해서 적어둠 */
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li{
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover{
  color: #669900;
}

header .main-menu .item .item__contents .contents__texture{
  font-size: 12px; /*글자 속성은 상속된다*/
  padding: 26px 0;
  background-image: url("../images/main_menu_pattern.jpg");
}
header .main-menu .item .item__contents .contents__texture h4{
  color: #999;
  font-weight: 700;
}
header .main-menu .item .item__contents .contents__texture p{
  color: #669900;
  margin: 4px 0 14px; 
}
header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}
header .badges .badge{
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
  cursor: pointer;
}

/* visual 영역 시작 */
.visual {
  margin-top: 120px; /*헤더의 높이만큼 떨어뜨리기*/
  background-image: url("../images/visual_bg.jpg");
  background-position: center;
}
.visual .inner{
  height: 646px;
  /* background-color: orange; */
}
.visual .title{
  position: absolute;
  top: 88px;
  left: -10px;
}

.visual .title .btn {
  position: absolute;
  top: 259px;
  left: 173px;
}
.visual .cup1.image {
  position: absolute;
  bottom: 0;
  right: -47px;
}
.visual .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}

.visual .cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}
.visual .cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}

.visual .spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}

/* visual 영역에 있는 이미지 가리고 시작 */
.visual .fade-in{
  opacity: 0;
}

/* notice 영역 */
.notice{

}
.notice .notice-line{
  position: relative;
  /* notice-line은 높이가 없어 축소하지만 자식인 inner의 높이 속성에 걸려 높이를 갖게 된다 */
}
.notice .notice-line .bg-left{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}
.notice .notice-line .bg-right{
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}

.notice .notice-line .inner{
  height: 62px;
  /* border: 1px solid red; */
  display: flex;
}
.notice .notice-line .inner__left{
  width: 60%;
  height: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
  overflow: hidden; /* 넘치는 텍스트를 숨김 */

}
.notice .notice-line .inner__left h2{
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
  
}
.notice .notice-line .inner__left .swiper-container{
  height: 62px;
  /* background-color: orange; */
  flex-grow: 1;/**/
}
.notice .notice-line .inner__left .swiper-container .swiper-slide{
  height: 62px;
  display: flex;
  align-items: center;

}
.notice .notice-line .inner__left .swiper-container .swiper-slide a{
  color: #fff;
}

.notice .notice-line .inner__left .notice-line__more{
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner__left .notice-line__more .material-icons{
  color: #fff;
  font-size: 30px;

}
.notice .notice-line .inner__right{
  width: 40%;
  height: 100%;
  /* background-color: #fff; */
  display: flex; 
  justify-content: flex-end;
  align-items: center   ;
}
.notice .notice-line .inner__right h2{
  font-size: 17px;
  font-weight: 700;
}
.notice .notice-line .inner__right .toggle-promotion{
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner__right .toggle-promotion .material-icons{
  font-size: 30px;
}

.notice .promotion{
  height: 693px;
  background-color: #f6f5ef;
  position: relative;
  transition: height .4s;
  overflow: hidden;
}

.notice .promotion.hide{/*일치 선택자를 통해 hide가 붙어 있는 경우를 만들기 위해 띄어쓰면 안된다*/
  height: 0;
}

.notice .promotion .swiper-container{
  width: calc(819px * 3 + 20px); /*필요한 너비 자동 계산(슬라이드 이미지 3개, 사진 사이 10px)*/
  height: 553 px;
  /* background-color: orange ;
  text-align: center;
  font-size: 200px; */
  position: absolute;
  top: 40px;
  left: 50%; 
  /* margin-left: -1238.5px ; */
  margin-left: calc((819px * 3 + 20px)/-2);
}

.notice .promotion .swiper-slide{
  opacity: .5;  
  transition: opacity 1s;
  position: relative;
}
.notice .promotion .swiper-slide-active{
  opacity: 1;
}
.notice .promotion .swiper-slide .btn{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* .btn에 width: 130px 설정해둠  */
}
.notice .promotion .swiper-pagination {
  bottom: -50px; /*위치 조정*/
  left: 0;
  right: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url("../images/promotion_slide_pager.png");
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_slide_pager_on.png");
}
.notice .promotion .swiper-prev, 
.notice .promotion .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}
.notice .promotion .swiper-prev{
  left: 50%;
  margin-left: -480px;
}
.notice .promotion .swiper-next{
  right: 50%;
  margin-right: -480px;
}
.notice .promotion .swiper-prev:hover, 
.notice .promotion .swiper-next:hover {
  background-color: #333;
  color: #fff;
}
/* rewards */
.rewards {
  position: relative;
}
.rewards .bg-left{
  width: 50%;
  height: 100%;
  background-color: #272727;
  position: absolute;
  top: 0;
  left: 0;
}
.rewards .bg-right{
  width: 50%;
  height: 100%;
  background-color: #d5c798;
  position: absolute;
  top: 0;
  right: 0;
} 
.rewards .inner{
  background-image: url('../images/rewards.jpg');
  height: 241px;
  /* inner에 relative */
}
.rewards .btn-group{
  position: absolute;
  bottom: 24px;
  right: 0;
  width: 250px;
  display: flex;
  flex-wrap: wrap; 
}
.rewards .btn-group .btn.sign-up{
  margin-right: 10px;
}
.rewards .btn-group .btn.sign-in{
  width: 110px;
}
.rewards .btn-group .btn.gift{
  margin-top: 10px;
  flex-grow: 1;
}

/* 유튜브 */
.youtube{
  position: relative;
  height: 700px;
  background-color: #333;
  overflow: hidden;
}
.youtube .youtube__area{
  width: 1920px;
  background-color: orange;
  position: absolute;
  left: 50%;
  margin-left: calc(1920px / -2);
  top: 50%;
  margin-top: calc(1920px * 9 / 16 / -2);
}
.youtube .youtube__area::before{
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
.youtube .youtube__cover{
  background-image: url('../images/video_cover_pattern.png');  
  background-color: rgba(0,0,0,.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#player{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.youtube .inner{
  height: 700px;
  /* background-color: blue; */
}
.youtube .floating1{
  position: absolute;/*inner 클래스에 relative 설정해 둠*/
  top: 50px;
  left: 0;
}
.youtube .floating2{
  position: absolute;/*inner 클래스에 relative 설정해 둠*/
  top: 350px;
  left: 150px;
}

/* season product 영역 */
.season-product {
  background-image: url('../images/season_product_bg.jpg');
}
.season-product .inner{
  height: 400px;
}
.season-product .floating3{
  position: absolute;/*inner 클래스에 relative 설정해 둠*/
  top: -200px;
  right: 0;
}

.season-product .text-group{
  position: absolute;/*.inner는 relative*/
  top: 110px;
  right: 100px;
}
.season-product .text-group .title{
  margin-bottom: 10px;
}
.season-product .text-group .description{
  margin-bottom: 15px;
}
.season-product .text-group .more{

}
/* 리저브 커피 영역 */
.reserve-coffee{
  background-image: url('../images/reserve_bg.jpg');
}
.reserve-coffee .inner{
  height: 400px;
}
.reserve-coffee .reserve-logo{
  position: absolute;
  top: 110px;
  left: 0;
}
.reserve-coffee .text-group{
  position: absolute;
  top: 124px;
  left: 208px;
}
.reserve-coffee .product{
  position: absolute;
  top: 0;
  right: 0; 
}
/* Pick your favorite 영역 */
.pick-your-favorite{
  background-image: url('../images/favorite_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.pick-your-favorite .inner{
  padding: 110px 0;
}
.pick-your-favorite .text-group{
  /* background-color: orange; */
  margin-left: 100px;
  width: 362px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.pick-your-favorite .text-group .title{
  margin-bottom: 40px;
}
.pick-your-favorite .text-group .description{
  margin-bottom: 40px;
}



/* 리저브 스토어 영역 */
.reserve-store{
  background-image: url('../images/reserve_store_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.reserve-store .inner{
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reserve-store .medal{
  width: 334px;
  height: 334px;
  perspective: 600px;
}
/* 다중 선택자 */
.reserve-store .medal .front,
.reserve-store .medal .back {
  width: 334px;
  height: 334px;
  backface-visibility: hidden;
  transition: 1s;
}
.reserve-store .medal .front {
  position: absolute;
  transform: rotateY(0deg);
}
.reserve-store .medal:hover .front {
  transform: rotateY(180deg);
}
.reserve-store .medal .back{
  transform: rotateY(-180deg);
}
.reserve-store .medal:hover .back {
  transform: rotateY(0deg);
}
.reserve-store .medal .back .btn {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
}

/* 매장 찾기 영역 */
.find-store {
  background-image: url('../images/find_store_bg.jpg');
}
.find-store .inner{
  height: 400px;
}
.find-store .texture1{
  position: absolute;
  top: 0;
  left: 400px;
}
.find-store .texture2{
  position: absolute;
  bottom: 0;
  right: 0;
}
.find-store .picture{
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0,0,0,.5);
  position: absolute;/*picture1,2 공통 적용*/
}
.find-store .picture1{
  /* position: absolute; */
  top: -60px;
  left: 0;
}
.find-store .picture2{
  /* position: absolute; */
  top: 150px;
  left: 250px;
}
.find-store .text-group{
  position: absolute;
  top: 120px;
  left: 550px;
} 
.find-store .text-group .title{
  margin-bottom: 20px;
}
.find-store .text-group .description{
  margin-bottom: 20px;
}

/* 어워즈 영역 */
.awards{
  background-color: #272727;
}
.awards .inner {
  padding: 40px 0;
}
.awards .swiper-container {
  width: 100%;
  height: 40px;
  overflow: hidden;
}
.awards .swiper-prev,
.awards .swiper-next
{
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  outline: none;
  color: #fff;
  opacity: .3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; /*inner가 부모*/
  top: 0;
  bottom: 0;
  margin: auto;
}
.awards .swiper-prev{
  left: -100px;
}
.awards .swiper-next{
  right: -100px;
}

.awards .swiper-prev:hover,
.awards .swiper-next:hover{
  background-color: #fff;
  color: #333;
}
