/* COMMON */
body{
  color : #333;/*기본 글자 색상*/
  font-size: 16px;/*시작 글자 크기*/
  font-weight: 400;/*글자 두께*/
  line-height: 1.4;/*글자 행간 길이*/
  font-family: "Nanum Gothic", sans-serif;/*나눔 고딕 폰트 적용하기*/
}
img{
  display: block;/* 인라인 요소인 img를 블록요소로 사용, 인라인 요소는 기본적으로 baseline이 있음 */
}
a {
  text-decoration: none;
}
/* COMMON */


/* HEADER */
header{
  background-color: royalblue;
}
header .inner{
  width: 1100px;
  height: 120px;/*inner에 높이 값 설정*/
  margin: 0 auto; /*외부여백 auto 좌우 가운데 정렬*/
  background-color: orange;
  position:relative;/*요소 자신을 기준(원래 자기 위치를 기준으로 얼마만큼 이동하는지 표현) */
}
header .logo{
  height: 75px;/*로고 이미지 크기와 같게 설정. 브라우저에게 높이값을 알려줘서 자동으로 가운데 정렬되게 설정*/
  width: 75px;/*브라우저에게 너비값을 알려줘서 자동으로 가운데 정렬되게 설정*/
  position: absolute;/*위치 상 부모 요소 기준 (위치상 부모 확인) 위치상 부모는 inner*/
  top: 0;
  bottom: 0;
  left: 0;/*inner 기준으로 왼쪽에 위치하도록 설정*/
  margin: auto;/*외부 여백을 브라우저가 자동으로 계산*/
  display: block;
}

